@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
        font-family: 'Satoshi', sans-serif;
  }
}
.active {
  text-decoration: underline;
  font-weight:bold;
}
body{
  position: relative;
}

/* font-family: 'Switzer', sans-serif;
font-family: 'Clash Display', sans-serif; 
font-family: 'Sentient', serif;
*/